@import "tailwindcss";

/* Import Custom Fonts */
@font-face {
  font-family: BebasNeue;
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: CaviarDreams;
  src: url(../assets/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: CaviarDreams_Bold;
  src: url(../assets/fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: CaviarDreams_Italic;
  src: url(../assets/fonts/CaviarDreams_Italic.ttf);
}

@theme {  
  /* Custom Color Palette */
  --color-primary1: #003F1C;
  --color-primary2: #A1764B;
  --color-primary2-dark: #885d32;
  --color-neutral1: #E5DED6;
  --color-neutral2: #E7E6E2;
  --color-accent1: #053D7F;
  --color-text1: #32312D;
  --color-text2: #151316;

  /* Aditional Colors */
  --color-night: #151316;

  /* Adding a custom font family */
  --font-bebas: 'BebasNeue', sans-serif;
  --font-caviardreams: 'CaviarDreams', sans-serif;
  --font-caviardreams-bold: 'CaviarDreams_Bold', sans-serif;
  --font-caviardreams-italic: 'CaviarDreams_Italic', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* ----------------------------------------- Standard Page Design ------------------------------------------------------------- */

/* Utils */
body {
  background-color: var(--color-neutral2);
}


.title {
  font-family: 'BebasNeue', sans-serif;
  text-transform: capitalize;
}

  /* On hover animation for buttons inside paragraphs (underline) with smooth transition */
p button{
  text-decoration: underline solid transparent;
  text-underline-offset: 4px;  
  transition: text-decoration-color 0.3s ease-in-out; 
}
p button:hover{
  text-decoration-color: currentColor; 
}

/* ----------- Markdown formating ----------- */
.markdown {
  /* font-family: 'CaviarDreams', sans-serif; */
  color: var(--color-text1);
  line-height: 1.6;

  p {
    margin-bottom: 1em;
  }

  h2 {
  font-size: x-large;
  font-weight: bold;
  line-height: 1.35;
  color: var(--color-accent1);
  margin-bottom: 0.5em;
  }

  ol {
    margin-bottom: 1em;
  }

  ul {
    margin-bottom: 1em;
  }

  li {
  margin-left: 1em;
  list-style-type: disc;
  }

}





#profilecard strong {
  color: #2274A5;
}

.selected-item {
  background-color: #2274A5 !important; 
  color: white !important;
}

.outlined-text {
  filter: drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(1px -1px black) drop-shadow(-1px 1px black);
  color: #F9F6EE;
}

.bg-dots {
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 2px, transparent 2px);
  background-size: 20px 20px;
}

/* Premium Card Shining Animation */
.premium-card {
  background-color: var(--color-primary1); 
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

/* Pseudo elements for the shining effect */
.premium-card:before,
.premium-card:after {
  content: "";
  position: absolute;
  height: 200%; /* Increase height to span the full card */
  background-color: aliceblue;
  opacity: 0.3;
  animation: glider 4.5s infinite linear;  /* Slower animation duration */
  pointer-events: none;
  z-index: 2; /* Make sure the line is on top of the card content */
}

/* Slightly different width and opacity for variation */
.premium-card:before {
  width: 0.6em;
  animation-delay: 0.05s;
}

.premium-card:after {
  width: 0.4em;
  opacity: 0.2;
}

/* Glider keyframes animation: line moves from top-left to bottom-right */
@keyframes glider {
  0% {
    transform: translate(-100%, -100%) rotate(45deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(45deg);
  }
}

/* Optional: Hide the glider animation on hover */
/* .premium-card:hover:before,
.premium-card:hover:after {
  visibility: hidden;
} */

.slick-prev:before,
    .slick-next:before {
        color: black !important;
    }


/* Markdown formating */
.markdown h2 {
  font-size: x-large;
  font-weight: bold;
  color: #2274A5;
}
.markdown li {
  margin-left: 1em;
  list-style-type: disc;

}



/* -------------------------------------- Embla Carousel Styles ------------------------------------------------------------- */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
