.button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
  will-change: transform;
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  position: relative;
  display: block;
  padding: 12px 27px;
  border-radius: 12px;
  background: hsl(345deg 100% 47%);
  transform: translateY(-4px);
  will-change: transform;
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

/* Hover states */
.button:hover {
  filter: brightness(110%);
}

.button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

/* Active states */
.button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

/* Accessibility */
.button:focus:not(:focus-visible) {
  outline: none;
}
